<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title size='small'>
     Hitos de Desarrollo
    </ion-title> 
  </ion-toolbar>
</ion-header>
<!-- 
  ESTA PAGINA ESTA CREADA PARA MOSTRAR LOS HITOS DEL DESARROLLO QUE SE COMPONE  DE DOS LISTAS Y QUE ES ALIMENTADA 
  DESDE EL GESTOR DE CONTENIDOS Y QUE VA MARCANDO LOS HITOS LOGRADOS EN UNA LISTA Y LA SIGUIENTE QUE ES UNA LISTA DE 
  LOS HITOS QUE ESTAN PENDIENTES POR LOGRAR AUN, ESTOS DEBERÍAN SUCEDER EN UN TIEMPO DETERMINADO, PERO SE HA OBVIADO ESTE PUNTO
  PARA EVITAR ALARMAR A LOS PADRES.
 -->
<ion-content>
  <div class="containerPendientes">
    <h4 class="tituloContenedorPendientes">Marca las tarjetas que tu bebé haya cumplido...</h4>
    <ion-slides [options]="slideOptions">
      <ion-slide *ngFor="let hito of porhacer">
          <ion-row>
            <ion-col size="12">
              <ion-card class="tarjeta">
                <img class="imagenTarjeta" src="{{hito.imagenUrl}}" alt="">
                <ion-card-content>
                  <ion-row>
                    <ion-col size="12">
                      <h2 class="tituloPendietes">{{hito.titulo | slice:0:40}}</h2>
                    </ion-col>
                    <ion-col size="12" class="containerContenidoTexto">
                      <p class="hitoPendienteDescripcion">{{hito.descripcion | slice:0:65}}...</p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
       <ion-col size="12">
         <ion-button (click)="idChanged($event, hito)" fill="clear">logrado</ion-button>
       </ion-col>
          </ion-row>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="containerHechas">
    <h4 class="tituloAvances">Los avances de tu bebé</h4>
    <ion-slides [options]="slideOptions" class="containerSlidesHechas">
      <ion-slide *ngIf="!hechas || hechas.length < 1">
        <ion-card class="cardContendorSinHechas">
          <p class="textoPruebaSinCards">Aqui aparecerán los hitos que tu bebé ya haya logrado...</p>
        </ion-card>
      </ion-slide>
      <ion-slide *ngFor="let hito of hechas">
        <ion-card class="hechas animated bounce">
          <img class="imagenHechas" src="{{hito.imagenUrl}}">
          <ion-card-content>
            <ion-card-title>
              <h2 class="tituloHechas">{{hito.titulo | slice:0:20}}</h2>
            </ion-card-title>
            <!-- <p class="logro">lo logro en : {{hito.fecha}}</p> -->
            <ion-row>
              <ion-col size="2">
                <p class="mesHechas">{{hito.mes}}</p>
              </ion-col>
              <ion-col size="8">
                <p class="descripcionHechas">{{hito.descripcion | slice:0:35}}</p>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="close-circle-outline" class="subir" (click)="uncheckHito(hito)"> </ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>