ion-label{
    color:#A7A9AC!important;
    font-size:.9em!important;
}
.tituloFamiliar{
    color:#79a3b1;
    margin-left:16px;
    margin-top:10px;
    font-size:1.3em;
}
.guardaryContinuar{
    width:60%;
    margin-left:20%;
    margin-top:20px;
}