<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title size='small'>
     Detalle cita
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
  ESTE COMPONENTE SE ENCARGA DE LA RENDERIZACIÓN DE EL DETALLE DE LA CITA SELECCIONADA, PUEDE HABER SIDO PAGADO CON TARJETA O NO Y EL DETALLE VARIARÁ EN FUNCIÓN A ELLO ADEMÁS NO DEBERÍA 
  PODER ELIMINARSE UNA CITA QUE FUE PAGADA CON TARJETA DESDE APP, PORQUE ACARREARÍA PROBLEMAS DE LOGICA DE NEGOCIO POR LA DEVOLUCIÓN DE DINERO EN CUALQUIER CASO, ESTO PODRÍA HACERSE DE 
  MANERA MANUAL EN LA CLINICA.
 -->
<ion-content>
  <ion-list>
    <img id="profile-image" src="{{API_IMAGES}}{{appointment.professionalId}}.png">

    <h3 class="nombreDoctor" class="text-center">
        {{ appointment.professionalName }} {{ appointment.professionalLastName1 }} {{ appointment.professionalLastName2 }}
    </h3>

    <ion-item>
        <ion-label bold>Sede:</ion-label>
        <ion-label class="blue" type="text" disabled="true">
            {{appointment.centerName}}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Especialidad:</ion-label>
        <ion-label item-end class="blue" disabled="true">
            {{ appointment.basicServiceDescription}}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-label item-end class="blue" disabled="true">
            {{ appointment.appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Hora:</ion-label>
        <ion-label class="blue" type="text" disabled="true">
            {{  appointment.appointmentDateTime | date:'shortTime'}}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Tipo de pago:</ion-label>
        <ion-label class="blue" disabled="true">
            {{appointment.pagado | lowercase }}
        </ion-label>
    </ion-item>
    <div class="centerQr" *ngIf="appointment.pagado !== 'no'">
        <qr-code value="{{appointment.appointmentId}}" [size]="300"></qr-code>
    </div>
    <ion-row>
        <ion-col size="6">
            <ion-button size="full" color="warning" (click)='desactivateTask(appointment)'>ANULAR CITA</ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button size="full" color="secondary" (click)="dismiss()">VOLVER</ion-button>
        </ion-col>
    </ion-row>
    <p class="recomenda" color="secondary">Recuerde que deberá llegar 20 minutos antes para poder cancelar en caja y estar a tiempo en el consultorio.</p>

</ion-list>
</ion-content>