<div>
  <ion-grid>
    <ion-row>
      <ion-col col-6  id="box" *ngFor="let key of vacunasKeys; let i = index" (click)="goToDetailVacuna(vacunas[key])">
        <ion-grid>
          <ion-row>
            <ion-col  col-4 class="trofeos" >
              <!-- <div *ngIf="i < 90">
                <ion-icon  name="medal" item-end></ion-icon>
              </div > -->
            </ion-col>
            <ion-col col-8 class="indicadores">
                <p class="month" item-start>{{key / 30}}</p>
                <p class="palabrameses">meses</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="contenedorVacunas">
          <ion-list>
            <ion-item *ngFor="let v of vacunas[key]" class="vacunaContainer">
              <ion-icon name="checkmark" item-start *ngIf="v.estado == 1"></ion-icon>
              <p class="nombreVacuna"> {{v.nom_vacuna}}</p>
            </ion-item>
          </ion-list>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>