<ion-header>
  <ion-navbar color="principal">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="back()"></ion-back-button>
          </ion-buttons>
      <ion-title size="small">Programar una cita</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content >
  <h4 class="center">Doctores disponibles</h4>
    <p class="subtitulo">Especialidad Pediatría</p>
<!-- <ion-card *ngFor="let doctor of doctors ">
    <div [ngStyle]="{'display': doctor.hasAvailable ? 'block' : 'none'}">
        <ion-row>
            <ion-col size="4" class="imageDoctor">
                <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{doctor.id}}.png" alt="">
            </ion-col>
            <ion-col size="8" right>
                <p class="doctor">{{ doctor.fullName | lowercase}}</p>
                <p class="especialidad">{{doctor.service.description | lowercase}}</p>
                <p>{{doctor.cmp}}</p>
                <p class="centro">Centro: Mendiola</p>
            </ion-col>

            <ion-col size="12">
            </ion-col>
            <div class="containerDays">
                <ion-slides>
                    <ion-slide *ngFor="let available of doctor.availables">
                        <div class="centerItemsDays">
                            <a (click)="expandedItem(doctor, available)">{{ available.date | date:'fullDate' :'es' | slice:0:3}}</a>
                            <p>{{ available.date | date:'dd':'es'}}</p>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
            <ion-col size="12">
                <expandable [expandHeight]="itemExpandHeight" [expanded]="doctor.expanded" [doctor]="doctor" [available]="available" [horas]="horas">
                    <div class="row">
                          <ion-slides class="normal">
                            <ion-slide class="horariosDisponibles">
                                <h3 class="turno">Primer Turno</h3>
                                <ion-grid>
                                  <ion-row>
                                      <div *ngFor="let hora of horas" >
                                          <ion-col size="3" *ngIf="hora.hour < '15:20'" (click)="goToResumen(doctor,hora)">
                                            <div class="horas">
                                              <p>{{hora.hour | slice:0:5}}</p>
                                            </div>
                                            </ion-col>
                                        </div>
                                  </ion-row>
                                </ion-grid>
                              </ion-slide>
                            <ion-slide>
                            <h3 class="turno">Segundo turno</h3>
                            <ion-row>
                            <div *ngFor="let hora of horas" >
                              <ion-col size="3" *ngIf="hora.hour >= '15:20'" (click)="goToResumen(doctor, hora)">
                                <div class="horas">
                                  <p>{{hora.hour | slice:0:5}}</p>
                                </div>
                                </ion-col>
                            </div>
                            </ion-row>
                          </ion-slide>
                      </ion-slides>
                    </div>
                </expandable>
            </ion-col>
        </ion-row>
    </div>
</ion-card>  -->
<div *ngFor="let item of doctorsF; let itemDoctor = index">
        <div class="box-main-content" [ngStyle]="{'display': item.isAvailable ? 'block' : 'none'}">
            <div class="datosDoctor">
                <ion-row>
                    <ion-col size="4" class="imageDoctor">
                        <img src="{{apiEndpoint}}{{item.id}}.png" (error)="errorHandler($event)" alt="">
                    </ion-col>
                    <ion-col size="8" right>
                        <p class="doctor">{{ item.fullName | lowercase}}</p>
                        <p class="especialidad">{{item.service.description | lowercase}}</p>
                        <p class="centro">Centro: Mendiola</p>
                    </ion-col>
                </ion-row>
            </div>
            <div class="disponibles">
                <div class="diasCitas">
                    <p class="diasDisponibles">Próximos días disponibles</p>
                    <ul>
                        <ion-row>
                            <ion-col size="2" *ngFor="let items of item.availables; let index = index">
                                <li (click)="stateShow(itemDoctor, index, items)"
                                    [ngClass]="{'active': boxCaID == index && itemDoctor === boxID}">
                                    <div class="box-day" id="{{index}}">
                                        {{items.date | date:'fullDate' :'es' | slice:0:3}}</div>
                                </li>
                                <span class="day">{{items.date | date:'dd':'es'}}</span>
                            </ion-col>
                        </ion-row>
                    </ul>
                </div>
                <div class="horasCitas">
                    <div style="overflow: hidden;" *ngFor="let itemss of item.availables; let ii = index">
                        <div *ngIf="itemDoctor === boxID && boxCaID === ii" id="{{ii}}" class="box-hour">
                            <!-- <p class="p-hour-dispo">Horario disponible Consulta Externa</p> -->
                            <div class="box-hour-main">
                                <ion-row>
                                    <ion-col size="3" *ngFor="let items of itemss.hours; let indexxx = index">
                                        <span id="{{'span-elegir-doctor-horaydia-'+item.service.idTraking}}">
                                            <div [ngClass]="{'hourdispo': itemss.hours[indexxx].isAvailable === true, 'desactive': itemss.hours[indexxx].isAvailable === false}"
                                                (click)="goToFinancer(item,items)">
                                                {{items.hour | slice:0:5}}
                                            </div>
                                        </span>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>
