<ion-header [translucent]="true">
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button (click)="back()"></ion-back-button>
          </ion-buttons>
      <ion-title size="small">Programar una cita</ion-title>
    </ion-toolbar>
</ion-header>


<!-- 
    ESTE COMPONENTE MUESTRA LOS ESPECIALISTAS DE GIENECOLOGÍA PREVENTIVA DE LA MISMA MANERA COMO TRAE A LOS ESPECIALISTAS DE
    MI AVIVA, ESPECIALISTAS=> DIA  Y LAS HORAS LAS TRAE AL SELECCIONAR UN DÍA ESPECIFICO, AL SELECCIONAR LA HORA
    ME ENVÍA CIERTOS DATOS QUE COMPLEMENTAN LA INFORMACIÓN PARA OBTENER LOS PRECIOS Y LOS DATOS ADICIONALES QUE VIENEN 
    EMBEBIDOS EN LAS HORAS CON NOMBRE LISTJSON, SIN ESTE LISTJSON NO SE PUEDE RESERVAR NINGUNA CITA, LISTJSON SE ENVÍA A LA
    SIGUIENTE PAGINA PARA USARLO COMO DATO PARA OBTENER LOS PRECIOS O LOS BENEFICIOS.
 -->
<ion-content >
  <h4 class="center textDoctores">Doctores disponibles pediatría</h4>
<div *ngFor="let item of doctorsF; let itemDoctor = index">
        <div class="box-main-content" >
            <div class="datosDoctor">
                <ion-row>
                    <ion-col size="4" class="imageDoctor">
                        <img src="{{SERVERImage}}{{item.id}}.png" (error)="errorHandler($event)" alt="">
                    </ion-col>
                    <ion-col size="8" right>
                        <p class="doctor">{{ item.fullName | lowercase}}</p>
                        <p class="especialidad">{{item.service.description | lowercase}}</p>
                        <p class="centro">Centro: Mendiola</p>
                    </ion-col>
                </ion-row>
            </div>
            <div class="disponibles">
                <div class="diasCitas">
                    <p class="diasDisponibles">Próximos días disponibles</p>
                    <ul>
                        <ion-row>
                            <ion-col size="2" *ngFor="let items of item.availables; let index = index">
                                <li (click)="stateShow(itemDoctor, index, items)"
                                    [ngClass]="{'active': boxCaID == index && itemDoctor === boxID}">
                                    <div class="box-day" id="{{index}}">
                                        {{items.date | date:'fullDate' :'es' | slice:0:3}}</div>
                                </li>
                                <span class="day">{{items.date | date:'dd':'es'}}</span>
                            </ion-col>
                        </ion-row>
                    </ul>
                </div>
                <div class="horasCitas">
                    <div style="overflow: hidden;" *ngFor="let itemss of item.availables; let ii = index">
                        <div *ngIf="itemDoctor === boxID && boxCaID === ii" id="{{ii}}" class="box-hour">
                            <!-- <p class="p-hour-dispo">Horario disponible Consulta Externa</p> -->
                            <div class="box-hour-main">
                                <ion-row>
                                    <ion-col size="3" *ngFor="let items of itemss.hours; let indexxx = index">
                                        <span id="{{'span-elegir-doctor-horaydia-'+item.service.idTraking}}">
                                            <div [ngClass]="{'hourdispo': itemss.hours[indexxx].isAvailable === true, 'desactive': itemss.hours[indexxx].isAvailable === false}"
                                                (click)="goToFinancer(item,items)">
                                                {{items.hour | slice:0:5}}
                                            </div>
                                        </span>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>
