<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size='small'>
     Controles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="barraContactos">
    <ion-row >
      <div  *ngFor="let dependend of dependends ">
        <ion-col size="3"
            *ngIf="dependend.edad <= 5">
                    <ion-item button
                              clear
                              class="itemButtonDependend"
                              (click)="getDataParent(dependend)" >
                              <ion-row>
                                <ion-col size="12" class="centrar">
                                  <ion-avatar>
                                    <img src="https://picsum.photos/200" alt="">
                                  </ion-avatar>
                                </ion-col>
                                <ion-col size="12" class="centrar">
                                  <label class="dependendName">{{dependend.name}}</label>
                                </ion-col>
                              </ion-row>
                          
                    </ion-item>
        </ion-col>
      </div>
    </ion-row>
  </div>
<ion-grid>
  <ion-row>
      <ion-col size="6"
      class="boxControlsHecho"
   *ngIf="dates">
   <div padding>
   <ion-row>
     <ion-col size="6"
                class="contenedorImagen">
       <img id="profile-image" src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{dates.professional.id}}.png" alt="">
       <p class="nombreDoctor">{{dates.professional.name}}{{dates.professional.surname1}}</p>
       <p class="servicioCita">{{dates.service.basicService.description }}</p>
     </ion-col>
     <ion-col size="6">
        <p class="elDia">El día:</p>
        <p class="diaCita">{{dates.appointmentDateTime | date}}</p>
        <p class="hora">Hora:</p>
        <p class="horaCita">{{dates.appointmentDateTime | date:'shortTime'}}</p>
        <p class="cita">En el centro:</p>
        <p class="centroCita">{{dates.medicalCenter.centro.name}}</p>
     </ion-col>
   </ion-row>
   </div>
</ion-col>
    <ion-col size="6" *ngFor="let c of control ; let i = index ">
      <div
            [ngClass]="c.cod_centro == 1 ? 'boxControls' : 'boxControlsHecho'">
            <!-- (click)="goToDetailControl(c)" -->
            <div class="containerData">
              <ion-row>
            <ion-col size="4">
              <p class="numeroControl">{{i+1}}</p>
            </ion-col>
            <ion-col size="8">
              <p class="when">{{c.servicio_basico}}</p>
            </ion-col>
            <!-- <ion-col col-2>
              <button ion-button
                      item-end
                      clear
                      class="buttonOptions"
                      (click)="presentPopover(c)"
                      *ngIf="c.efectuado === false">
                <ion-icon name="more"></ion-icon>
              </button> -->
            <!-- </ion-col> -->
            <ion-col size="12">
                <p  *ngIf="!c.diarealizado"
                    class="fecha">{{c.date  | date}}</p>
                <p  *ngIf="c.diarealizado"
                    class="fecha">{{c.diarealizado }}</p>
            </ion-col>
          </ion-row>
        </div>
        <div class="containerFecha" >
          <ion-row>
            <ion-col
                size="6"
                *ngIf="c.tiene_receta"
                class="centrar"
                (click)="goToRecipes(c)">
                <ion-button fill="clear"
                        class="botonInactivo">
                  <ion-icon name="list-box"></ion-icon>
                </ion-button>
              <p class="nombre">recetas</p>
            </ion-col>
            <ion-col
                  size="6"
                  (click)="goToParameters( c)"
                  class="centrar">
                  <ion-button fill="clear"
                          class="botonInactivo">
                    <ion-icon name="analytics"></ion-icon>
                  </ion-button>
                  <p class="nombre">parametros</p>
              </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>
<ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="getDates()" >
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- <div *ngFor="let item of items">
    {{item.}}
</div> -->
  
</ion-content>
