<ion-content>
  <h3>{{nota.titulo}}</h3>
  <img src="{{nota.imagenUrl}}" alt="">
  <p class="desarrollo">{{nota.texto}}</p>
  <h5 *ngIf="nota.lista1">Lo que deberías hacer</h5>
  <ul>
    <li *ngFor="let h of nota.lista1">
      {{h}}
    </li>
  </ul>
  <h5 *ngIf="nota.lista2">Ten cuidado con</h5>
  <ul>
    <li *ngFor="let h of nota.lista2">
      {{h}}
    </li>
  </ul>
  <h5 class="signos" *ngIf="nota.signosDeAlerta">Signos de Alerta</h5>
  <ul class="contenedorAlarmas">
    <li *ngFor="let h of nota.signosDeAlerta">
      <p class="textoAlarma">{{h}}</p>
    </li>
  </ul>
</ion-content>
