ion-content{
  --background:#f4f9f9!important;
}
.botones{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contendorDatos{
  height: 120px;
  --background:#00B972;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
    p{
      font-size:1.3em;
      text-align: center;
    }
}
.contenedorBotones{
  position: sticky;

}
.fondoDepes{
  background: #f4f9f9;
}

// estilos nutricion
.tituloNutricion{
  font-size:.9em;
  margin-top:-10px;
}
.categoriaAlimentacion{
  color:#A7A9AC;
  font-size:1.2em;
}
.semanaPertenece{
  font-size:.8em;
  color:#50504F;
}
.tituloAlimentacion{
  color:#FFC839;
  font-size:1.4em;
  margin-top:15px;
}
.contenidoAlimentacion{
  color:#A7A9AC;
  text-align: left;
  line-height: 1.3em;
}
.contenedorBebe img{
  width: 40px!important;
}
// estilo de los hitos
.tituloHitos{
  color:#FF634C;
  font-size:1.4em;
}
.categoriaHitos{
  color:#A7A9AC;
  font-size:1.2em;
}
.contenidoHitos{
  color:#A7A9AC;
  line-height:1.3;
}
// estilos hogar
.categoriaHogar{
  color:#A7A9AC;
  font-size:1.2em;
}
.semanaHogar{
  font-size:.8em;
  color:#50504F;
}
.tituloHogar{
  color:#47ACDE;
  font-size:1.4em;
}
.contenidoHogar{
  color:#A7A9AC;
  line-height: 1.3em;
}
// estilos cuidado y salud
.categoriaCuidado{
  color:#A7A9AC;
  font-size:1.2em;
}
.tituloCuidado{
  color:#00B972;
  font-size:1.3em;
}
.contenidoCuidado{
  color:#A7A9AC;
  line-height: 1.3em;
}
.botonDependens {
  ion-select{
    width: 90%!important;
    max-width:100%;
      .select-placeholder{
        width: 80%;
      }
  }
  .select-icon{
    .select-icon-inner{
      color:#fff!important;
    }
  }
}
// aqui comienzan los estilos de los acordeones
.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow:none!important;
  .mat-content{
    text-align: right;
  }
}
ion-slide{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
ion-slide p {
  margin-bottom: 2.5em!important;
  color:#A7A9AC!important;
  font-size:.7em!important;
  text-align: center;
}
mat-panel-title h2{
  color:#00B972 !important;
  margin-left:0!important;
  font-size: 1.2em!important;
}
.estimulacionbutton{
  // font-size:.85em;
  text-transform: capitalize;
  height: 60px;
}
.hitosbutton{
  // font-size:.85em;
  text-transform: capitalize;
  height: 60px;
}
.hijos{
  width: 90%;
  margin-left:5%;
}
.textoConsejos{
  color:#A7A9AC;
  font-size:.9em;
}
.mes{
  font-size:2.2em;
  color:#00B972;
  font-weight: 600;
  text-align: right;
}
.mesHogar{
  font-size:2.2em;
  color:#47ACDE;
  font-weight: 600;
  text-align: right;
}
.mesNutricion{
  font-size:2.2em;
  color:#FFC839;
  font-weight: 600;
  text-align: right;
}
.cuidadoCard{
  border-top-left-radius: 15px;
  // border-top-right-radius: 10px;
}
.containerButtons{
    margin-top:30px;
}
ion-avatar{
  img{
    height: 35px;
    width: 35px;
    margin-top:15px;
    margin-left:10px;
    margin-left: calc(50% - 22.5px);
  }
  img:hover{
    width:55px!important;
    height: 55px;
  }
}
ion-avatar:hover{
  width:50px;
  height: 60px;
}
.nino{
  width: 55px!important;
  margin-top:-5px;
  margin-left:12px!important;
}
.containerNombreDepe{
  color:#50504F;
  text-transform: lowercase;
  text-align: left;
  padding-bottom:0!important;
}
.containerNombreDepe{
  p{
margin-left:10px; 
    font-size:.9em;
    color:#79a3b1;
    margin-top:-5px;
  } 
} 
.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerMeses{
  ion-slide{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20px;
  }
  .mesSlide{
    color:#fff!important;
    padding-bottom:-10px;
  }
  
  .containerMesSlide{
    background: #79a3b1;
    border-radius: 50%;
    height: 45px; 
    width: 45px;
    p{
      color:#fff!important;
      font-size:1.1em!important;
      font-weight: 500;
      margin-top:12px;
  
    }
  }
}
/* .containerMesSlide:hover{
  background: #e32185!important;
  border-radius: 50%;
  height: 52px!important; 
  width: 52px!important;
  font-size:.9em!important;
  border: 1px dashed #e32185;
  p{
    color:#fff!important;
    font-size:.9em!important;
    font-weight: 500;
    margin-top:14px!important;

  }
} */

.containerCardsSlider{
  ion-slider{
    width:100%;
  }
  ion-slide{
    width:100%;
  }
  #nutricion{
    ion-card-title{
      text-align: left;
      color:#FFC839;
      font-size:1.1em;
    }
    ion-card-subtitle{
      margin-top:-5px;
      text-align: left;
      font-size:.9em;
      width: 95%;
      margin-left:2.5%;
    }
    ion-card-content{
      margin-top:-20px;
    }
  }
  ion-card{
    width:95%;
    margin-left:2.5%;
    height: 300px;
  }
}
.containerCardsSlider{
  margin-top:15px;
}
.seemore{
  text-transform: lowercase;
  color:#FFC839;
  margin-top:-20px;
  float: right!important;
  margin-right: 16px;

}
#containerSeeMore{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.tituloMes{
  text-align: center;
  font-size:1em;
  color:#50504F;
}
#cuidado{
  border-radius: 15px!important;
  img{
    width:92%;
    margin-top:-15px;
    z-index: 50;
    border-radius: 15px !important;
    margin-top: 10px;
  }
  h5{
    color:#79a3b1;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    margin-bottom:5px;
  }
  .iconType{
    margin-left:10px;
    text-align: right;
    width:30px;
    height: 30px;
    margin-top:-3px!important;
  }
  .textoCategoria{
    text-align: left;
    color:#A7A9AC;
    margin-top:5px;
    color:#00B972;
  }
  .iconMore{
    margin-top:10px;
    color:#50504F;
    font-size:1.2em;
  }
  .mesInicio{
    font-size:2em!important;
    font-weight: 600;
    text-align: right;
    color:#f1f1f1!important;
    margin-right:10px;
  }

  .containerHitosyVacunas{
    ion-card{
      height: 120px;
    }
  }
}

#nutricion{
  border-radius: 15px!important;
  img{
    width:92%;
    margin-top:-15px;
    z-index: 50;
    border-radius: 15px !important;
    margin-top: 10px;
  }
  h5{
    color:#79a3b1;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;

    width:100%;
  }
  .iconType{
    margin-left:10px;
    text-align: right;
    width:30px;
    height: 30px;
    margin-top:0!important;
  }
  .textoCategoria{
    text-align: left;
    color:#A7A9AC;
    margin-top:5px;
    color:#FFC839;
  }
  .iconMore{
    margin-top:10px;
    color:#50504F;
    font-size:1.2em;
  }
  .mesInicioNutri{
    font-size:2em!important;
    font-weight: 600;
    text-align: right;
    color:#f1f1f1!important;
    margin-right:10px;
  }
}
#familia{
  border-radius: 15px!important;
  img{
    width:92%;
    margin-top:-15px;
    z-index: 50;
    border-radius: 15px !important;
    margin-top: 10px;
  }
  h5{
    color:#79a3b1;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    width:90%;
    margin-left:5%;
    margin-top:-10px;
  }
  .iconType{
    margin-left:10px;
    text-align: right;
    width:30px;
    height: 30px;
    margin-top:0!important;
  }
  .textoCategoria{
    text-align: left;
    color:#A7A9AC;
    margin-top:5px;
    color:#47ACDE;
  }
  .iconMore{
    margin-top:10px;
    color:#50504F;
    font-size:1.2em;
  }
  .mesInicioNutri{
    font-size:2em!important;
    font-weight: 600;
    text-align: right;
    color:#f1f1f1!important;
    margin-right:10px;
  }
}
#estimulacion{
  border-radius: 15px!important;
  img{
    width:92%;
    margin-top:-15px;
    z-index: 50;
    border-radius: 15px !important;
    margin-top: 10px;
  }
  h5{
    color:#79a3b1;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    width:90%;
    margin-left:5%;
  }
  .iconType{
    margin-left:10px;
    text-align: right;
    width:30px;
    height: 30px;
    margin-top:0!important;
  }
  .textoCategoria{
    text-align: left;
    color:#A7A9AC;
    margin-top:5px;
    color:#FFC839;
  }
  .iconMore{
    margin-top:10px;
    color:#50504F;
    font-size:1.2em;
  }
  .mesInicioNutri{
    font-size:2em!important;
    font-weight: 600;
    text-align: right;
    color:#f1f1f1!important;
    margin-right:10px;
    margin-top:10px;
  }
}
#hitos{
  border-radius: 15px!important;
  img{
    width:92%;
    margin-top:-15px;
    z-index: 50;
    border-radius: 15px !important;
    margin-top: 10px;
  }
  h5{
    color:#79a3b1;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    width:90%;
    margin-left:5%;
  }
  .iconType{
    margin-left:10px;
    text-align: right;
    width:30px;
    height: 30px;
    margin-top:0!important;
  }
  .textoCategoria{
    text-align: left;
    color:#A7A9AC;
    margin-top:5px;
    color:#FF634C;
  }
  .iconMore{
    margin-top:10px;
    color:#50504F;
    font-size:1.2em;
  }
  .mesInicioNutri{
    font-size:2em!important;
    font-weight: 600;
    text-align: right;
    color:#f1f1f1!important;
    margin-right:10px;
    margin-top:10px;
  }
}
#vacunas{
  border-radius: 15px!important;
  img{
    width:92%;
    margin-top:-15px;
    z-index: 50;
    border-radius: 15px !important;
    margin-top: 10px;
  }
  h5{
    color:#79a3b1;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    width:90%;
  }
  .iconType{
    margin-left:10px;
    text-align: right;
    width:30px;
    height: 30px;
    margin-top:0!important;
  }
  .textoCategoria{
    text-align: left;
    color:#e32185;
  }
  .iconMore{
    color:#50504F;
    font-size:1.2em;
  }
  .mesInicioNutri{
    font-size:2em!important;
    font-weight: 600;
    text-align: right;
    color:#f1f1f1!important;
    margin-right:10px;
  }
}
.containerHitosyEstimulacion{
  ion-card{
    height: 80px;
    width:100%;
    border-radius:10px
  }
}
.containerIconHitos{
  img{
    width: 35px;
    height: auto;
    margin-top:10px;
  }
}
.containerTextoHitos{
  h5{
    color:#79a3b1;
    font-size:1.1em;
  }
  p{
    color:#A7A9AC;
    font-size:.8em;
    margin-top:-10px;
  }
}
.addParent{
  ion-icon{
    margin-top:20px;
    text-align:right;
    color:#c3c5c7;
    cursor: pointer;
    font-size:2.2em;
  }
  .agregarDepeTexto{
    font-size:.8em!important;
    text-align: left;
    margin-left:-6px;
    color:#A7A9AC;
    margin-top:-5px;
  }
}

.activeIndex{
  background: #e32185!important;
  border-radius: 50%;
  height: 52px!important; 
  width: 52px!important;
  font-size:.9em!important;
  border: 1px dashed #e32185;
  p{
    color:#fff!important;
    font-size:.9em!important;
    font-weight: 500;
    margin-top:14px!important;

  }
}
.containerPersonas{
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-slides{
  --bullet-background: red;
  --scroll-bar-background-active: red!important;
}


.imagenCard{
  height: 160px;
}
.tituloCard{
  height: 50px;
}