<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size='small'>
     Desarrollo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" class="fondoDepes">
      <ion-row *ngIf="filtrados">
        <ion-col size="3" *ngFor="let dep of filtrados">
          <ion-button outline class="hijos" round (click)="renderizarInfoPorHijo(dep)">
            {{dep.name}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="containerButtons">
    <div class="row">
      <ion-col size="5"></ion-col>
      <ion-col size="3">
        <ion-button (click)="goToHitos()">Hitos</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button  (click)="goToEstimulation()">Estimulación</ion-button>
      </ion-col>
    </div>
  </div> 
  <div class="contenedorCategorias" *ngFor="let nota of notas">

    <div id="nutricion">
      <ion-card *ngIf="nota.tipo == 'bebenutricion'" class="animated bounceInUp">
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/nutricion.png" alt="">
            </ion-col>
            <ion-col size="8">
              <h5 class="categoriaAlimentacion">Alimentación y Nutrición</h5>
              <!-- <p class="semanaPertenece">estamos en la semana {{nota.semana}}</p> -->
            </ion-col>
            <ion-col size="2" class="contenedorBebe">
                <p class="mesNutricion"> {{nota.mes}} </p>
            </ion-col>
            <!-- <ion-col col-12>
              <h2 class="tituloAlimentacion">{{nota.titulo}}</h2>
            </ion-col> -->
            <ion-col size="12">
              <p class="contenidoAlimentacion">{{nota.texto}}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="hitos" *ngIf="nota.tipo == 'bebecrecimiento'">
      <ion-card class="animated bounceInUp">
        <img src="{{nota.imagenUrl}}" />
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/hitos.png" alt="">
            </ion-col>
            <ion-col size="9">
              <h3 class="categoriaHitos">Crecimiento y Desarrollo</h3>
              <p class="semanaPertenece">estamos en la semana {{nota.semana}}</p>
            </ion-col>
            <ion-col size="1" class="contenedorBebe">
              <!-- <img src="assets/img/icons/bebe.png" alt=""> -->
            </ion-col>
            <ion-col size="12">
              <h3 class="tituloHitos">{{nota.titulo}}</h3>
            </ion-col>
            <ion-col size="12">
              <p class="contenidoHitos">
                {{nota.texto}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="hogar" *ngIf="nota.tipo == 'bebehogar'">
      <ion-card class="animated bounceInUp">
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/hogar.png" alt="">
            </ion-col>
            <ion-col size="8">
              <h5 class="categoriaHogar">Hogar y Familia</h5>
              <!-- <p class="semanaHogar">estamos en la semana {{nota.semana}}</p> -->
            </ion-col>
            <ion-col size="2" class="contenedorBebe">
                <p class="mesHogar"> {{nota.mes}} </p>
            </ion-col>
            <!-- <ion-col col-12>
              <h2 class="tituloHogar">{{nota.titulo}}</h2>
            </ion-col> -->
            <ion-col size="12">
              <p class="contenidoHogar">{{nota.texto}}</p>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>

    <div id="cuidado" *ngIf="nota.tipo == 'bebecuidado'">
      <ion-card class="animated bounceInUp cuidadoCard">
        <img src="{{nota.imagenUrl}}" />
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/cuidado.png" alt="">
            </ion-col>
            <ion-col size="8">
              <h3 class="categoriaCuidado">Cuidado y Salud</h3>
              <!-- <p class="semanaPertenece">estamos en la semana {{nota.semana}}</p> -->
            </ion-col>
            <ion-col size="2" class="contenedorBebe">
              <p class="mes"> {{nota.mes}} </p>
            </ion-col>
            <!-- <ion-col col-12>
              <h3 class="tituloCuidado">{{nota.titulo}}</h3>
            </ion-col> -->
            <ion-col size="12" (click)="goToDetailCuidado(nota)">
              <p class="contenidoCuidado">
                {{nota.resumen}}
              </p>
            </ion-col>
          </ion-row>
          <mat-accordion class="accordionCambiosMama">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h2>Consejos Utiles</h2>
                </mat-panel-title>
              </mat-expansion-panel-header>
           <!--    <ion-slides pager speed="1500" loop="true" *ngIf="nota.contenidoJson[0].consejos">
                <ion-slide *ngFor="let consejo of nota.contenidoJson[0].consejos">
                    <p class="textoConsejos"> {{consejo.consejo}} </p>
                </ion-slide>
              </ion-slides> -->
            </mat-expansion-panel>
          </mat-accordion>
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>
