<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size='small'>
     Desarrollo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="goToHitos()">
        <ion-icon name="bar-chart"></ion-icon>
      </ion-button>
      <ion-button  (click)="goToEstimulation()">
        <ion-icon name="accessibility"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" class="fondoDepes">
      <ion-row *ngIf="filtrados">
        <ion-col size="3" *ngFor="let dep of filtrados" >  
          <ion-row>
            <ion-col>
              <ion-avatar (click)="renderizarInfoPorHijo(dep)">
                <img src="https://www.shareicon.net/data/2016/08/05/807214_people_512x512.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col class="containerNombreDepe">
                <p>{{dep.name}}</p> 
            </ion-col>
          </ion-row>  
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
 <div class="containerMeses">
   <ion-slides [options]="slideOpts">
     <ion-slide *ngFor="let m of meses">
       <div class="containerMesSlide" (click)="mesSelect(m)">
        <p class="mesSlide">{{m.mes}}</p>
       </div>
     </ion-slide>
   </ion-slides>
 </div>
<!--   <div class="contenedorCategorias" > -->

  <!-- <div id="nutricion">
      <ion-card *ngIf="nota.type == 'bebenutricion'" class="animated bounceInUp">
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/nutricion.png" alt="">
            </ion-col>
            <ion-col size="8">
              <h5 class="categoriaAlimentacion">Alimentación y Nutrición</h5>
            </ion-col>
            <ion-col size="2" class="contenedorBebe">
                <p class="mesNutricion"> {{nota.mes}} </p>
            </ion-col>
            <ion-col size="12">
              <p class="contenidoAlimentacion">{{nota.texto}}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div> -->

    <!-- <div id="hitos" *ngIf="nota.type == 'bebecrecimiento'">
      <ion-card class="animated bounceInUp">
        <img src="{{nota.imagenUrl}}" />
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/hitos.png" alt="">
            </ion-col>
            <ion-col size="9">
              <h3 class="categoriaHitos">Crecimiento y Desarrollo</h3>
              <p class="semanaPertenece">estamos en la semana {{nota.semana}}</p>
            </ion-col>
            <ion-col size="1" class="contenedorBebe">
            </ion-col>
            <ion-col size="12">
              <h3 class="tituloHitos">{{nota.titulo}}</h3>
            </ion-col>
            <ion-col size="12">
              <p class="contenidoHitos">
                {{nota.texto}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div> -->

   <!--  <div id="hogar" *ngIf="nota.type == 'bebehogar'">
      <ion-card class="animated bounceInUp">
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/hogar.png" alt="">
            </ion-col>
            <ion-col size="8">
              <h5 class="categoriaHogar">Hogar y Familia</h5>
            </ion-col>
            <ion-col size="2" class="contenedorBebe">
                <p class="mesHogar"> {{nota.mes}} </p>
            </ion-col>
            <ion-col size="12">
              <p class="contenidoHogar">{{nota.texto}}</p>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div> -->

    <div class="containerCardsSlider">
      <ion-slides [options]="slidOptions">
        <ion-slide *ngFor="let nota of notas">
          <ion-card id="cuidado" *ngIf="nota.type == 'bebecuidadoysalud'">
              <h5>{{nota.titulo}}</h5>
          </ion-card>

          <ion-card id="bebenutricion" *ngIf="nota.type == 'bebenutricion'">
            <ion-card-header>
              <ion-row>
                <ion-col size="2">
                  <img src="assets/img/icons/nutricion.png">
                </ion-col>
                <ion-col size="10">
                  <ion-card-title>
                    {{nota.titulo}}
                  </ion-card-title>
                </ion-col>
              </ion-row>
              <ion-card-subtitle>
                {{nota.resumen}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>{{nota.desarrolloContenido}}</p>
            </ion-card-content>
            <p></p>
        </ion-card>
        <ion-card id="cuidado" *ngIf="nota.type == 'bebefamilia'">
          <h5>{{nota.titulo}}</h5>
      </ion-card>
      <ion-card id="cuidado" *ngIf="nota.type == 'bebehitos'">
        <h5>{{nota.titulo}}</h5>
      </ion-card>
      <ion-card id="cuidado" *ngIf="nota.type == 'bebeestimulacion'">
        <h5>{{nota.titulo}}</h5>
      </ion-card>
      <ion-card id="cuidado" *ngIf="nota.type == 'bebevacunas'">
        <h5>{{nota.titulo}}</h5>
      </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- <div id="cuidado" *ngIf="nota.type == 'bebecuidadoysalud'">
      <ion-card class="animated bounceInUp cuidadoCard">
        <img src="{{nota.imagenUrl}}" />
        <ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img src="assets/img/icons/cuidado.png" alt="">
            </ion-col>
            <ion-col size="8">
              <h3 class="categoriaCuidado">Cuidado y Salud</h3>
            </ion-col>
            <ion-col size="2" class="contenedorBebe">
              <p class="mes"> {{nota.mes}} </p>
            </ion-col>
            <ion-col size="12" (click)="goToDetailCuidado(nota)">
              <p class="contenidoCuidado">
                {{nota.resumen}}
              </p>
            </ion-col>
          </ion-row>
          <mat-accordion class="accordionCambiosMama">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h2>Consejos Utiles</h2>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </ion-card-content>
      </ion-card>
    </div> -->

  <!-- </div> -->
</ion-content>
