<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size='small'>
     Desarrollo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" class="fondoDepes">
      <ion-row>
        <ion-col size="3" *ngFor="let dep of filtrados; let item = index" >  
            <ion-col class="containerPersonas" *ngIf="dep.edad < 2">
              <div>
                <ion-avatar (click)="renderizarInfoPorHijo(dep, item)">
                  <img src="assets/img/icons/bebeicon.png">
                  <ion-col class="containerNombreDepe">
                    <p>{{dep.name}}</p> 
                </ion-col>
              </ion-avatar>
            </div>
            </ion-col>
            <ion-col class="containerPersonas" *ngIf="dep.edad > 1">
              <div>
                <ion-avatar (click)="renderizarInfoPorHijo(dep, item)" >
                  <img  src="assets/img/icons/nino.png">
                  <ion-col class="containerNombreDepe">
                      <p>{{dep.name}}</p> 
                  </ion-col>
                </ion-avatar>
              </div>
            </ion-col>
        </ion-col>
        <ion-col size="3" class="addParent" (click)="addParent()">
          <ion-icon name="add-circle"></ion-icon>
          <p class="agregarDepeTexto">agregar</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
 <div class="containerMeses" >
   <!-- <h5 class="tituloMes">Omar está en este mes</h5> -->
   <ion-slides [options]="slideOpts" (ionSlideDidChange)="change($event)"  #slideWithNav>
     <ion-slide #status *ngFor="let m of meses; let i = index;">
       <div class="containerMesSlide" (click)="mesSelect(m)" [ngClass]="{'activeIndex': currentIndex === i}">
        <p class="mesSlide">{{m.mes}}</p>
       </div>
     </ion-slide>
   </ion-slides>
 </div>
    <div class="containerCardsSlider">
      <ion-slides [options]="slidOptions">
        <ion-slide *ngFor="let nota of notas">
          <!-- card bebecuidadoysalud  -->
          <ion-card id="cuidado" *ngIf="nota.type == 'bebecuidadoysalud'" (click)="openModalbebeCuidadoySalud(nota)" >
            <img class="imagenCard" src="{{nota.imagenUrl }}" alt="">
            <ion-card-content>
                <h5 class="tituloCard">{{nota.titulo | slice:0:70}}</h5>
              </ion-card-content>
              <ion-row>
                <ion-col size="2">
                  <img class="iconType" src="./assets/img/icons/cuidado.png" alt="">
                </ion-col>
                <ion-col size="7" class="textoCategoria">
                  Cuidado y salud
                </ion-col>
                <ion-col size="3">
                  <p class="mesInicio">{{mesActual}}</p> 
                  <!-- <ion-icon class="iconMore" name="newspaper"></ion-icon> -->
                </ion-col> 
              </ion-row>
          </ion-card>

          <ion-card id="nutricion" *ngIf="nota.type == 'bebenutricion'" (click)="openModalnutricion(nota)">
            <img class="imagenCard" src="{{nota.imagenUrl}}" alt="">
            <ion-card-content>
              <h5  class="tituloCard"> {{nota.titulo | slice:0:70}}</h5>
            </ion-card-content>
            <ion-row>
              <ion-col size="2">
                <img class="iconType" src="assets/img/icons/nutricion.png">
              </ion-col>
              <ion-col size="7" class="textoCategoria">
                Nutrición
              </ion-col>
              <ion-col size="3">
                <p class="mesInicioNutri">{{mesActual}}</p> 
              </ion-col>
            </ion-row>

        </ion-card>

        <ion-card id="familia" *ngIf="nota.type == 'bebefamilia'" (click)="openBebeyFamilia(nota)">
          <img class="imagenCard" src="{{nota.imagenUrl}}" alt="">
          <ion-card-content>
            <h5 class="tituloCard">{{nota.titulo | slice:0:65}}</h5>
          </ion-card-content>
          <ion-row>
            <ion-col size="2">
              <img class="iconType" src="assets/img/icons/hogar.png">
            </ion-col>
            <ion-col size="7" class="textoCategoria">
              Familia
            </ion-col>
            <ion-col size="3">
              <p class="mesInicioNutri">{{mesActual}}</p> 
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card id="hitos" *ngIf="nota.type == 'bebehitos'"  (click)="openModalHitos(nota)">
          <img class="imagenCard" src="{{nota.imagenUrl}}" alt="">
            <h5 class="tituloCard">{{nota.titulo}}</h5>
            <ion-row>
              <ion-col size="2">
                <img class="iconType" src="assets/img/icons/hitos.png">
              </ion-col>
              <ion-col size="7" class="textoCategoria">
                Hitos de desarrollo
              </ion-col>
              <ion-col size="3">
                <p class="mesInicioNutri">{{mesActual}}</p> 
              </ion-col>
            </ion-row>
      </ion-card>

      <ion-card id="estimulacion" *ngIf="nota.type == 'bebeestimulacion'" (click)="openModalEstimulacion(nota)">
        <img class="imagenCard" src="{{nota.imagenUrl}}" alt="">
        <ion-card-content>
          <h5 class="tituloCard">{{nota.titulo | slice:0:65}}</h5>
        </ion-card-content>
        <ion-row>
          <ion-col size="2">
            <img class="iconType" src="assets/img/icons/nutricion.png">
          </ion-col>
          <ion-col size="7" class="textoCategoria">
            Hitos de tu bebé
          </ion-col>
          <ion-col size="3">
            <p class="mesInicioNutri">{{mesActual}}</p> 
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card id="vacunas" *ngIf="nota.type == 'bebevacunas'" (click)="openModalVacuna(nota)">
        <img class="imagenCard" src="{{nota.imagenUrl}}" alt="">
        <ion-card-content>
          <h5 class="tituloCard">{{nota.titulo | slice:0:65}}</h5>
        </ion-card-content>
        <ion-row>
          <ion-col size="2">
            <img class="iconType" src="assets/img/icons/vacuna.png">
          </ion-col>
          <ion-col size="7" class="textoCategoria">
            Vacunas
          </ion-col>
          <ion-col size="3">
            <p class="mesInicioNutri">{{mesActual}}</p> 
          </ion-col>
        </ion-row>
      </ion-card>
      
        </ion-slide>
      </ion-slides>
    </div>
  <div class="containerHitosyEstimulacion" *ngIf="notas">
    <ion-row>
      <ion-col  size="6">
        <ion-card (click)="openHitos()">
          <ion-row>
            <ion-col size="3" class="containerIconHitos">
              <img src="../../assets/img/icons/hitosgris.png" alt="">
            </ion-col>
            <ion-col size="9" class="containerTextoHitos">
              <h5>Hitos de desarrollo</h5>
              <p>revisa el avance de tu bebé de manera constante</p>
            </ion-col>
          </ion-row>

      </ion-card>
    </ion-col>
      <ion-col  size="6" >
        <ion-card (click)="goToEstimulation()">
          <ion-row>
            <ion-col size="3" class="containerIconHitos">
              <img src="../../assets/img/icons/estimulacion.png" alt="">
            </ion-col>
            <ion-col size="9" class="containerTextoHitos">
              <h5>Estimulación</h5>
              <p>Ayuda a tu bebé con sus capacidades</p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
       
      </div>
</ion-content>
