<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size='small'>
     Vacunas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" class="fondoDepes">
      <ion-row *ngIf="filtrados">
        <ion-col size="3" *ngFor="let dep of filtrados" >  
          <ion-row>
            <ion-col *ngIf="dep.edad < 1">
              <ion-avatar (click)="getDataParent(dep)">
                <img src="assets/img/icons/bebeicon.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col *ngIf="dep.edad > 0">
              <ion-avatar (click)="getDataParent(dep)">
                <img class="nino" src="assets/img/icons/nino.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col class="containerNombreDepe">
                <p>{{dep.name}}</p> 
            </ion-col>
          </ion-row>  
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <h5 class="textVaccine">Chequea siempre este cuadro para que tengas a tu pequeño al día con sus vacunas</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="6"  id="box" *ngFor="let key of vacunasKeys; let i = index" (click)="goToDetailVacuna(vacunas[key])">
        <ion-grid>
          <ion-row>
            <ion-col  size="4" class="trofeos" >
              <!-- <div *ngIf="i < 90">
                <ion-icon  name="medal" item-end></ion-icon>
              </div > -->
            </ion-col>
            <ion-col size="8" class="indicadores">
                <p class="month" item-start>{{key / 30}}</p>
                <p class="palabrameses">meses</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="contenedorVacunas">
            <ion-item *ngFor="let v of vacunas[key]" class="vacunaContainer">
              <ion-icon name="checkmark" item-start *ngIf="v.estado == 1"></ion-icon>
              <p class="nombreVacuna"> {{v.nom_vacuna2}}</p>
            </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
