<ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title size='small'>
     Gráficas de desarrollo
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
  PAGINA QUE SE ENCARGA DE MOSTRAS LAS GRÁFICAS DE CRECIMIENTO DE UN BEBE ESPECIFCO( ESTA OPCION ESTA HABILITADA PARA ESCOGER ENTRE VARIOS BEBÉS Y LA INFORMACIÓNSE VA MOSTRANDO A DEMANDA POR NIÑO), LAS GRÁFICAS INCLUYEN PESO, TALLA PERIMETRO CEFALICO Y ES
  UNA INFORMACIÓN QUE ES OBTENIDA DE TODOS LOS CONTROLES PREVIÓS DE UN NIÑO EN EL PROGRAMA NIÑO SANO.
 -->
<ion-content >
  <ion-row>
    <ion-col size="12" class="fondoDepes">
      <ion-row *ngIf="filtrados">
        <ion-col size="3" *ngFor="let dep of filtrados" >  
          <ion-row>
            <ion-col *ngIf="dep.edad < 1">
              <ion-avatar (click)="getDataForPatient(dep)">
                <img src="assets/img/icons/bebeicon.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col *ngIf="dep.edad > 0">
              <ion-avatar (click)="getDataForPatient(dep)">
                <img class="nino" src="assets/img/icons/nino.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col class="containerNombreDepe">
                <p>{{dep.name}}</p> 
            </ion-col>
          </ion-row>  
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <div class="containerGraficaPeso" *ngIf="sex === 'HOMBRE'">
    <h3 class="center top">Evolución Peso</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="barChartDataPeso"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsPeso"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
  </div>
  </div>

  <div class="containerGraficaPesoWomen" *ngIf="sex === 'MUJER'">
    <h3 class="center top">Evolución Peso</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="barChartDataPesoWomen"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsPeso"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
  </div>
  </div>

  <div class="containerGraficaPeso" *ngIf="sex === 'HOMBRE'">
    <h3 class="center top">Evolución Talla</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="barChartDataTalla"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsTalla"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>

  <div class="containerGraficaPesoWomen" *ngIf="sex === 'MUJER'">
    <h3 class="center top">Evolución Talla</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="barChartDataTallaWomen"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsTalla"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>

  <div class="containerGraficaPeso" *ngIf="sex === 'HOMBRE'">
    <h3 class="center top">Evolución Perimetro Cefálico</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="barChartDataPc"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsPc"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>

  <div class="containerGraficaPesoWomen" *ngIf="sex === 'MUJER'">
    <h3 class="center top">Evolución Perimetro Cefálico</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="barChartDataPcWomen"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsPc"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>
  <div class="containerGraficaPeso" *ngIf="sex === 'HOMBRE'">
    <h3 class="center top">Evolución Peso/talla</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="pesoTalla"
              [labels]="barChartLabelsTwo"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsPc"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>
  <div class="containerGraficaPesoWomen" *ngIf="sex === 'MUJER'">
    <h3 class="center top">Evolución Peso/talla</h3>
    <div style="display: block">
      <canvas baseChart
              width="350" height="320"
              [datasets]="pesoTalla"
              [labels]="barChartLabelsTwo"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColorsPc"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>
</ion-content>