ion-content{
    --background:#f4f9f9!important;
  }
.center{
    text-align: center;
    color:#79a3b1;
    font-size:1.3em;
  }
  .top{
      margin-top: 20px;
  }
  .containerGraficaPeso{
    background: #fff;
    margin-bottom:20px;
  }
 