ion-content{
    --background: url(../../../assets/img/fondo/loginfondo.png)  0 0/100% 100%; 
      background-repeat: no-repeat;
      background-size: cover;
     background:#47ACDE!important; 
      background-size:cover;
  }
  .textoBlanco{
    color:#fff;
    font-weight:400;
    padding-top:3vh;
    width: 85%;
    margin-left:7.5%;
    text-align: center;
    font-size:1.1em;
  }
  .contenedorInputs{
    margin-top:20vh;
  }
  ion-item{
    height: 68px;
    border-top-right-radius: 15px;
    margin-bottom:.5em!important;
    --background:rgba(255,255,255,0.7)!important;
    color:#47ACDE;
    --highlight-background: none!important;
  }
  ion-label{
    color: #47ACDE!important;
  }
  .item-md.item-block .item-inner{
    border-bottom:none;
  }
  .inicioSesion{
    margin-top:30px;
    color:#fff;
    margin-bottom:20px;
  }
  ion-button{
    height: 50px !important;
  }
  .mensaje{
    color:red;
  }
  .botonPassword{
      margin-top:20px;
    color:#FFC839;
    text-align: center;
    --background: rgba(255, 255, 255, 0.4);
  }
  .centrado{
    text-align: center;
  }
  .item-native{
      border-style: none!important;
      border-color:transparent!important;
      --background-color: #fff!important;
  }