<!-- <ion-header [translucent]="true">
  <ion-toolbar hideBackButton="true" persistent="true">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size='small'>
     Login
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content class="ion-padding">
  <h5 class="bajar textoBlanco" text-center> Bienvenido a <b> Wawapp!!!</b>.. para continuar ingresa tu dni y contraseña y si aun no tienes una registrate es super facil...</h5>
  <div class="contenedorInputs">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Tipo documento</ion-label>
            <ion-select placeholder="Selecciona una opción" (ionChange)="selectDocument($event)">
              <ion-select-option *ngFor="let d of documents " [value]="d">{{d.name}}</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
            <ion-label position="floating">Nº documento</ion-label>
            <ion-input type="document"
                        #document></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password"
                       #password></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
 
  <ion-button class="inicioSesion" color="warning" expand="block" (click)="signIn(document.value , password.value)">
   Login
  </ion-button>
  </div>
  <ion-button expand='block' class="alto50" (click)="register()">
    Registrar
   </ion-button>
  <ion-button 
  expand='block'  
  fill='clear'
  class="inicioSesion"
  (click)="recovery()">
    Olvide la contraseña
   </ion-button>
  
</ion-content>