<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons slot="start">
      <ion-back-button (click)="goToBack()"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Financiador</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <h4 class="parrafoFinanciador">Lo que nos queda es escoger para quien es la cita y el financiador, ya casi terminamos…
  </h4>
  <!-- <p class="teleconsulta" *ngIf="hora.params.provisionId[0] == 838517"> HAS ESCOGIDO TELECONSULTA</p> -->
  <div>
   <!--  <ion-row class="pading">
      <ion-col offset="3" size="6" class="cuadrado">
        <ion-button (click)="openParents()" expand="full" size="default" color="tertiary"
          [ngClass]="{'verde': ccolor === true}">
          <ion-icon slot="start" name="people"></ion-icon>
          un familiar
        </ion-button>
      </ion-col>
    </ion-row> -->
    <div *ngIf="addFamily">
      <ion-row>
        <ion-col size="6" *ngFor="let depe of parents">
          <ion-card (click)="passFinancerParent(depe)" class="tarjetaDepes">
            <ion-row no-padding no-margin>
              <ion-col>
                <h3 class="nombrePariente">{{depe.name}}</h3>
              </ion-col>

            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

   <!--  <ion-row *ngIf="addFamily" padding>
      <ion-col size="12">
        <ion-button expand="block" shape="round" fill="outline" color="success" class="m-t-20"
          (click)="showDetailCreateParents()">
          <ion-icon slot="start" name="add"></ion-icon>
          Agregar Familiar
        </ion-button>
      </ion-col>
    </ion-row> -->


  </div>
  <!-- fin del template de los familiares adjuntos -->
  <div *ngIf="depe">
    <div *ngIf="personOk === true">
      <ion-row>
        <ion-col size="3" class="cardEscogidoImg">
          <img src="../assets/imgs/avatars/nino.png" alt="">
        </ion-col>
        <ion-col size="7" class="containerNombre">
          <h3 class="nombrePariente">escogiste a: {{depe.name}}</h3>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="cleanDepe()" fill="clear" color="secondary">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="containerPay">

    <h3 class="centerTitle">El importe de pago es:</h3>

    <div class="contenedorPagadores" *ngIf="planes">
      <ion-list>
        <ion-radio-group>
          <div *ngFor="let plan of planes">
            <ion-card *ngIf="plan.es_paquete_propio === 0 && plan.es_plan_propio === 0 ">
              <ion-item>

                <ion-label *ngIf="plan.siteds === 0">{{plan.plan_desc}}</ion-label>
                <ion-label *ngIf="plan.siteds === 1">{{plan.Financiador}}</ion-label>
                <ion-radio slot="start" (click)="acceptFinancer(plan)"></ion-radio>
                <span item-right>
                  <p *ngIf="plan.siteds === 0">S/. {{plan.precio[0].total}}</p>
                </span>
              </ion-item>
            </ion-card>

            <ion-card *ngIf="plan.es_paquete_propio === 0 && plan.es_plan_propio === 1 ">
              <ion-item>
                <ion-radio slot="start" (click)="acceptFinancer(plan)"></ion-radio>
                <ion-label *ngIf="plan.siteds === 0">{{plan.plan_desc}}</ion-label>
                <ion-label *ngIf="plan.siteds === 1">{{plan.Financiador}}</ion-label>
                <span item-right>
                  <p *ngIf="plan.siteds === 1">S/. {{plan.precio[0].total}}</p>
                </span>
              </ion-item>
            </ion-card>
          </div>
          <div *ngFor="let plan of planes">
            <ion-list *ngIf="plan.es_paquete_propio == 1 && plan.es_plan_propio == 0 && plan.beneficios < 1" no-lines>
              <h4 class="tituloPlanes">
                {{plan.plan_desc}}
              </h4>
              <ion-card>
                <ion-item class="bloques" no-lines>
                  <ion-radio *ngIf="plan.beneficios.length > 0" slot="start" (click)="acceptFinancer(plan)"></ion-radio>
                  <ion-label *ngIf="plan.beneficios.length > 0">{{plan.plan_desc}}</ion-label>
                  <span item-right *ngIf="plan.beneficios.length > 0">
                    <p>S/. {{plan.precio[0].total}}</p>
                  </span>
                  <span item-right>
                    <p>plan sin beneficios</p>
                  </span>
                </ion-item>
                <ion-row *ngIf="plan.cuotas[0].countCuotas> 0">
                  <ion-col size="11">
                    <p> Tienes cuotas pendientes </p>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="information-circle"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-list>

          </div>
          <div *ngFor="let plan of planes">
            <ion-list *ngIf="plan.es_paquete_propio === 1 && plan.es_plan_propio === 0 && plan.beneficios.length == 1"
              no-lines>
              <h4 class="tituloPlanes">
                {{plan.plan_desc}}</h4>
              <ion-card *ngFor="let beneficio of plan.beneficios">
                <ion-item class="bloques" no-lines>
                  <ion-radio slot="start" (click)="acceptFinancerPaquete(plan)"></ion-radio>
                  <ion-label>{{beneficio.beneficio_paquete}}</ion-label>
                  <span item-right *ngIf="beneficio.beneficio_paquete">
                    <p>{{beneficio.cantidad_veces}} / {{beneficio.cantidad_max}}</p>
                  </span>
                  <span item-right>
                    <p *ngIf="plan.siteds === 1">S/. {{plan.precio[0].total}}</p>
                  </span>
                </ion-item>
                <ion-row *ngIf="plan.cuotas[0].countCuotas > 0">
                  <ion-col size="11">
                    <p> Acercate a admisión a regularizar tus cuotas </p>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon name="information-circle" (click)="openModalInfo()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-list>

          </div>

        </ion-radio-group>
      </ion-list>
    </div>
  </div>
  <ion-button *ngIf="financer == true" color="warning" block center class="botonPagar" (click)="goToPay()"
    [disabled]="!desabilitado == true">
    Ir a Pago
  </ion-button>

  <ion-button *ngIf="paquete == true" color="warning" block center class="botonPagar" (click)="next()"
    [disabled]="!desabilitado == true">
    Reservar Cita
  </ion-button>

</ion-content>