<ion-content padding>
  <div class="contenedorTextoInicial">
    <h4 class="registroDeUsuarioTitulo">Completa tu registro para obtener una cuenta...así de facil..</h4>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="registerNewUser()" novalidate padding class="formulario">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="text" formControlName="name" name="name" placeholder="Nombres"></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty || registerForm.get('name').touched"
          no-lines>
          <p *ngIf="registerForm.get('name').hasError('required')" class="error">El nombre es requerido</p>
        </div>
        <!-- <div *ngIf="registerForm.get('name').errors && registerForm.get('name').touched" no-lines>
            <p *ngIf="registerForm.get('name').hasError('required')" class="error">el nombre es requerido</p>
        </div> -->
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="text" formControlName="surname1" name="surname1" placeholder="Apellido Paterno"></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('surname1').errors && registerForm.get('surname1').dirty || registerForm.get('surname1').touched"
          no-lines>
          <p *ngIf="registerForm.get('surname1').hasError('required')" class="error">El apellido paterno requerido</p>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="text" formControlName="surname2" name="surname1" placeholder="Apellido Materno"></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('surname2').errors && registerForm.get('surname2').dirty || registerForm.get('surname2').touched"
          no-lines>
          <p *ngIf="registerForm.get('surname2').hasError('required')" class="error">El apellido materno es requerido
          </p>
        </div>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-input type="email" formControlName="email" name="email" placeholder="Email:"></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('email').errors && registerForm.get('email').dirty || registerForm.get('email').touched"
          lines="none">
          <p *ngIf="registerForm.get('email').hasError('required')" class="error">Email requerido</p>
          <p *ngIf="registerForm.get('email').hasError('email')" class="error">El correo electronico no es valido</p>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <!-- <ion-label floating>Fecha de nacimiento:</ion-label> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="birthdate" name="birthdate" max="{{actual}}"
            placeholder="Fecha de nacimiento"></ion-datetime>
          <!-- <ion-input type="date" formControlName="birthdate" name="date_of_birth" placeholder="Fecha de nacimiento"></ion-input> -->
        </ion-item>
        <div
          *ngIf="registerForm.get('birthdate').errors && registerForm.get('birthdate').dirty || registerForm.get('birthdate').touched"
          no-lines>
          <p *ngIf="registerForm.get('birthdate').hasError('required')" class="error">La fecha de nacimiento es
            requerida</p>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-select formControlName="gender" name="gender" placeholder="Sexo" [(ngModel)]="gender"
            (ionChange)="cambiogenero($event)">
            <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div
          *ngIf="registerForm.get('gender').errors && registerForm.get('gender').dirty || registerForm.get('gender').touched"
          no-lines>
          <p *ngIf="registerForm.get('gender').hasError('required')" class="error">El género requerido</p>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="tel" formControlName="phone" name="phone" placeholder="Telefono"></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('phone').errors && registerForm.get('phone').dirty || registerForm.get('phone').touched"
          no-lines>
          <p *ngIf="registerForm.get('phone').hasError('required')" class="error">Teléfono requerida</p>
          <p *ngIf="registerForm.get('phone').hasError('minLength')" class="error">introducir mínimo 9 caracteres</p>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-select formControlName="documentType" name="documentType" [(ngModel)]="document"
            (ionChange)="cambioDocumento($event)" placeholder="Tipo de documento">
            <ion-select-option *ngFor="let document of documents" [value]="document">{{document.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div
          *ngIf="registerForm.get('documentType').errors && registerForm.get('documentType').dirty || registerForm.get('documentType').touched"
          no-lines>
          <p *ngIf="registerForm.get('documentType').hasError('required')" class="error">Tipo de documento requerido</p>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-input *ngIf="!_documenType" placeholder="Nº de documento"></ion-input>
          <ion-input *ngIf="_documenType && _documenType.id == 3" placeholder="Nº de Carne" type="tel" min="0"
            formControlName="documentNumber" name="documentNumber" minlength=12 maxlength=12 stacked></ion-input>
          <ion-input *ngIf="_documenType && _documenType.id == '1'" placeholder="Nº de Dni" type="tel" min="0"
            formControlName="documentNumber" name="documentNumber" minlength=8 maxlength=8 stacked></ion-input>
          <ion-input *ngIf="_documenType &&_documenType.id == 2" placeholder="Nº de Pasaporte" type="tel" min="0"
            formControlName="documentNumber" name="documentNumber" minlength=12 maxlength=12 stacked></ion-input>
          <!-- <p color="danger" ion-text *ngIf="registerForm.get('dni').hasError('required')">DNI requerido</p> -->
        </ion-item>
        <div
          *ngIf="registerForm.get('documentNumber').errors && registerForm.get('documentNumber').dirty || registerForm.get('documentNumber').touched"
          placeholder="Nº de documento" no-lines>
          <p *ngIf="registerForm.get('documentNumber').hasError('required')" class="error">El tipo de documento es
            requerido</p>
        </div>
      </ion-col>


      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="password" required name="password" formControlName="password"
            placeholder="Contraseña, mínima 8 caracteres"></ion-input>
        </ion-item>
        <div
          *ngIf="registerForm.get('password').errors && registerForm.get('password').dirty || registerForm.get('password').touched"
          no-lines>
          <p *ngIf="registerForm.get('password').hasError('required')" class="error">La contraseña es requerida
            caracteres</p>
          <p *ngIf="registerForm.get('password').hasError('minLength')" class="error">Introducir minimo 8 caracteres</p>
        </div>
      </ion-col>


      <ion-col size="12">
        <ion-item lines="none">
          <ion-input type="password" formControlName="password_confirmation" name="password_confirmation"
            placeholder="repetir contraseña"></ion-input>
          <div
            *ngIf="registerForm.get('password_confirmation').errors && registerForm.get('password_confirmation').dirty || registerForm.get('password_confirmation').touched">
            <p *ngIf="registerForm.get('password_confirmation').hasError('required')" class="error">la confirmación de
              la contraseña es requerida</p>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-label class="terminosyCondiciones">Acepto los términos y condiciones</ion-label>
          <ion-checkbox formControlName="aprobed" name="aprobed" [(ngModel)]="aprobed"
            (ionChange)="aceptaCondiciones(aprobed)"></ion-checkbox>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-button type="submit" [disabled]="!registerForm.valid || !validacion()" fill="block" color="tertiary"
      class="alto50">Registro</ion-button>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="6" class="izquierda">
        <ion-button fill="clear" class="bajas" (click)="seeConditions() ">terminos y condiciones</ion-button>
      </ion-col>
      <ion-col size="6" class="derecha ">
        <ion-button ion-button fill="clear" class="bajas derecha" (click)="goToLogin() ">Tengo una cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>