h3{
    text-align: center;
    margin-top:20px;
    font-size:1.3em;
    color:#00B972;
    font-weight: 400;
    width:90%;
    margin-left:5%;
}
img{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}
.resumen{
    width:90%;
    margin-left: 5%;
    color:#929292;
    font-weight: lighter;
}
.desarrollo{
    width:90%;
    margin-left:5%;
    color:#929292;
    font-weight: lighter;
}
ul{
    list-style-type: square;
    width:95%;
    li{
        color:#929292;
        font-size:.9em;
        font-weight: lighter;
    }
}
h5{
    text-align: center;
    font-size: 1.2em;
    color:#00B972;
}
.signos{
    color:#ff5e78;
}
.textoAlarma{
    color:#ff9292;   
}
.contenedorAlarmas{
    margin-bottom:15px;
}