.nombre{
    color:#51c2d5;
    margin-top:30px;
    margin-left:30px;
    font-size:1.3em;
    font-weight: 400;
}
.email{
    font-size:1em;
    margin-left:30px;
    color:#51c2d5;
    margin-bottom:50px;
    margin-top:-5px;
}
ion-title{
    color:#A7A9AC;
}
ion-item{
    ion-icon{
        margin-left:20px;
    }
}