<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header>
    <ion-toolbar color="transparent">
      <ion-title>Wawapp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <p class="nombre" *ngIf="nombre">{{nombre.name}} {{nombre.surname1}} {{nombre.surname2}}</p> 
    <p class="email" *ngIf="nombre">{{nombre.userEmail}}</p>
    <ion-list lines="none">
   <!--    <ion-item button (click)="goToGraficas()">
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        Gráficas de crecimiento
      </ion-item> -->
      <ion-item button (click)="goToHome()">
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item button (click)="goToMydates()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Mis citas
      </ion-item>
      <ion-item button (click)="closeSesion()">
        <ion-icon name="close-outline" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-item>
    </ion-list>
    <ion-col>
      <img src="assets/imgs/login/logoWhite.svg" alt="">
      <p class="center">versión: {{version}}</p>
    </ion-col>
  </ion-content>
</ion-menu>