ion-content{
    background:#F5F5F5!important;
  }
    ul{
        width:100%;
    }
    li{
        list-style-type: none;
    }
    .izquierda{

        font-weight: 600;
        font-size: 1.2em;
    }
    .derecha{
        color:grey;
        text-align: center;
        margin-right: 20px;
    }
    .tituloControl{
        color:#9483C8;
        text-align: center;
        margin-bottom:1em;
    }
    .imagen img{
      width:25px!important;
      height: auto!important;
    }
    ion-col{
      display: flex!important;
      justify-content: center;
      align-items: center;
      margin-top:15px!important;
      height: 40px;
      border-bottom: 1px solid #f5f5f5;
    }
    .titulo{
      text-align: center;
      color:#9483C8;
      margin-top:1em;
    }
    .descripcion{
      text-align: center!important;
      color:#444D4D;
      font-size:.9em;
    }
    .valor{
      text-align: right!important;
      span{
        font-size:.8em;
        color:#444D4D;
        margin-left:5px;
        text-transform: lowercase;
      }
    }
    h4{
      font-size:1em!important;
    }
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .parametro{
      // float: left!important;
      color:#69a3d3;
      font-weight: 400;
    }
    ion-card{
      height:100vh;
      height: auto;
      border-radius: 10px!important;
    }
    popover-md-width	{
      top:200px!important;
      width: 120%;
    }
    .tituloRecomendaciones{
      text-align: center;
      background: #69a3d3;
      color:#fff;
      margin-bottom: 1em;
    }
    .textoRecomendaciones p{
      color:#a7a9ab;
      width:95%;
      margin-left:2.5%;
      font-size:.9em;
    }
